<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - YallaGo</title>
    <link rel="icon" href="~/images/yallago.png" type="images/yallago.png">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/profile.css">
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
