@model UserViewModel

@{
    ViewData["Title"] = "Add New User";
    Layout = "_AdminLayout";
}



<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header  text-white" style="background-color:#163152;">
                <h4 class="mb-0">Add New User</h4>
            </div>
            <div class="card-body">
                <form asp-action="AddNew" >
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label"></label> <span class="text-danger"> *</span>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label"></label><span class="text-danger"> *</span>
                            <input asp-for="LastName" class="form-control" ></input>
                        <span asp-validation-for="LastName" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label><span class="text-danger"> *</span>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label><span class="text-danger"> *</span>
                        <input asp-for="Password" class="form-control"  />
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label><span class="text-danger"> *</span>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Roles" class="control-label"></label><span class="text-danger"> *</span>
                        @foreach (var role in ViewBag.Roles)
                        {
                            @if (User.IsInRole("owner"))
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Roles" value="@role.Name" required>
                                    <label class="form-check-label">
                                        @role.Name
                                    </label>
                                </div>
                            }
                            else if (role.Name.ToLower() != "owner")
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Roles" value="@role.Name" required>
                                    <label class="form-check-label">
                                        @role.Name
                                    </label>
                                </div>
                                
                            }

                        }
                        <span asp-validation-for="Roles" class="text-danger small"></span>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-3 text-center">
            <a asp-action="Index" class="text-decoration-none">&larr; Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

