@model UpdateTourViewModel

@{
    ViewData["Title"] = "Edit Tour";
    Layout = "_AdminLayout";
    SelectList destinations = new SelectList(ViewBag.Destinations, "Id", "Name");
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm rounded-4">
            <div class="card-body text-center">
                <h5 class="card-title mb-4">Tour Image</h5>
                @if (@Model.ImageURL != null)
                {
                    <img src="~/images/tours/@Model.ImageURL" class="img-fluid rounded-3 border" alt="Tour Image" style="max-height: 450px;">
                }

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header  text-white" style="background-color:#163152;">
                <h4 class="mb-0">Edit the Tour</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label> <span class="text-danger"> *</span>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label><span class="text-danger"> *</span>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Price" class="form-label"></label><span class="text-danger"> *</span>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="StartDate" class="form-label"></label><span class="text-danger"> *</span>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Duration" class="form-label"></label><span class="text-danger"> *</span>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="AvailableSeats" class="form-label"></label><span class="text-danger"> *</span>
                        <input asp-for="AvailableSeats" class="form-control" />
                        <span asp-validation-for="AvailableSeats" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ImageFile" class="form-label"></label>
                        <input asp-for="ImageFile" class="form-control" type="file" />
                        <span asp-validation-for="ImageFile" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="DestinationId" class="form-label"></label><span class="text-danger"> *</span>
                        <select asp-for="DestinationId" asp-items="destinations" class="form-select">
                            <option value="">Select a Destination</option>
                        </select>
                        <span asp-validation-for="DestinationId" class="text-danger small"></span>
                    </div>
                    <input type="hidden" asp-for="ImageURL" />
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Edit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-3 text-center">
            <a asp-action="AdminIndex" class="text-decoration-none">&larr; Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
