@{
    ViewData["Title"] = "Home - YallaGo";
}

<section class="home">
    <div class="home-caption d-flex align-items-center h-75 ms-5">
        <div class="caption fw-bolder fs-2 text-white ">
            <p class="caption-text ">Adventure</p>
        </div>
    </div>
    
</section>
