@model IEnumerable<ReadDestinationDto>
@{
    ViewData["Title"] = "Home ";
}

<section class="home">
    <div class="home-caption d-flex align-items-center h-75 ms-5">
        <div class="caption fw-bolder fs-2 text-white ">
            <p class="caption-text ">Adventure</p>
        </div>
    </div>
    
</section>

<section class="about">
    <div class="container">
        <h2 class=" main-title text-center">Why book with YallaGo?</h2>
        <div class="row gy-4">
            <div class="col-md-3">
                <div class="Expert text-center shadow-lg p-lg-3 rounded-3 h-100">
                    <i class="fa-solid fa-earth-americas p-3 fs-5" style="color: #10b981;"></i>
                    <p class="fw-bold">24/7 Expert Support</p>
                    <p>Instant assistance whenever you need it, wherever you are.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center shadow-lg p-lg-3 rounded-3 h-100">
                    <i class="fa-solid fa-trophy p-3 fs-5" style="color: #ffc107;"></i>
                    <p class="fw-bold">Exclusive Rewards</p>
                    <p>Earn points, unlock premium perks, elevate every journey.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center shadow-lg p-lg-3 rounded-3 h-100">
                    <i class="fa-solid fa-star-half-stroke p-3 fs-5" style="color: #3b82f6;"></i>
                    <p class="fw-bold">Trusted Reviews</p>
                    <p>Thousands of verified traveler experiences guiding your perfect adventure.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center shadow-lg p-lg-3 rounded-3 h-100">
                    <i class="fa-solid fa-book p-3 fs-5" style="color: #f59e0b;"></i>
                    <p class="fw-bold ">Ultimate Flexibility</p>
                    <p>Free cancellation and book now, pay later—zero hidden fees.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_MainDestinations" model="Model" />
