@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "_AdminLayout";
}

<partial name="_AddRole" model="new RoleViewModel()" />


<table class="table table-bordered table-hover text-center align-middle table-striped shadow-sm">
    <thead style=" background-color: #163152 ;color: white;">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td style="text-transform:capitalize">@item.Name</td>

                <td>
                    <div class="btn-group" role="group">
                        <a href="javascript:void(0)" onclick="confirmDelete('@item.Id', '@Url.Action("Delete", new { id = item.Id })')" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script>
        // Function to handle delete confirmation with SweetAlert
        function confirmDelete(userId, deleteUrl) {
            Swal.fire({
                title: "Delete Role",
                text: "Are you sure about deleting this role ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete it",
                cancelButtonText: "Cancel",
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, redirect to the delete action
                    window.location.href = deleteUrl;
                }
            });
        }
    </script>
}
